/* ----------------------------------------------- inicio ----------------------------------------------- */
@keyframes teclear {
    from {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

@keyframes efecto {
    50% {
        border-color: transparent;
    }
}

/* ----------------------------------------------- sobre mi ------------------------------------------------ */

@keyframes flotando {

    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(.4vh);
    }

    100% {
        transform: translateX(0vh);
    }
}

/* ----------------------------------------------- foot ----------------------------------------------- */

@keyframes efectoFoot {
    50% {
        border-color: transparent;
        background-color: #0353a4;
        color: #ffff;
    }
}