:root {
    --primario: #5a189a;
    --violetaClaro: #7a2bbf;
    --violetaMasClaro: #c880ff;
    --body: #10002b;
    --negro: #000000;
    --blancoMasOscuro: #f8f4e3;
    --blanco: #ffff;

}

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--blanco);
    font-family: "Asap Condensed", sans-serif;
    /* font-family: 'Lato', sans-serif; */
}

/* --------------------------------------- header ---------------------------------------- */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--blanco);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.45);
    position: fixed;
    right: 25%;
    left: 25%;
    width: 50%;
    border-radius: 5px;
    height: 3rem;
    margin-top: .3em;
    z-index: 2;
   
    transform: translateY(100%);
    top: -50px;
}

.header-move {
    transform: translateY(-100%);
    top: -100px;
   
}

.nav-list {
    font-size: 1.5vw;
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: var(--negro);
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;

}


/*---------------------------------------- Inicio ----------------------------------------*/
#inicio {
    height: 40rem;
    background-color: var(--blanco);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1446' height='570' preserveAspectRatio='none' viewBox='0 0 1446 570'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1201%26quot%3b)' fill='none'%3e%3crect width='1446' height='570' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M -10.422463463452743%2c154 C 4.18%2c182.6 33.38%2c288.2 62.57753653654726%2c297 C 91.78%2c305.8 106.38%2c198.6 135.57753653654726%2c198 C 164.78%2c197.4 179.38%2c282.4 208.57753653654726%2c294 C 237.78%2c305.6 252.38%2c236.2 281.57753653654726%2c256 C 310.78%2c275.8 325.38%2c388.6 354.57753653654726%2c393 C 383.78%2c397.4 398.38%2c290.8 427.57753653654726%2c278 C 456.78%2c265.2 471.38%2c333.8 500.57753653654726%2c329 C 529.78%2c324.2 544.38%2c253.4 573.5775365365473%2c254 C 602.78%2c254.6 617.38%2c328.6 646.5775365365473%2c332 C 675.78%2c335.4 690.38%2c274.2 719.5775365365473%2c271 C 748.78%2c267.8 763.38%2c338.8 792.5775365365473%2c316 C 821.78%2c293.2 836.38%2c154.8 865.5775365365473%2c157 C 894.78%2c159.2 909.38%2c309.8 938.5775365365473%2c327 C 967.78%2c344.2 982.38%2c246.6 1011.5775365365473%2c243 C 1040.78%2c239.4 1055.38%2c309.2 1084.5775365365473%2c309 C 1113.78%2c308.8 1128.38%2c223.4 1157.5775365365473%2c242 C 1186.78%2c260.6 1201.38%2c412 1230.5775365365473%2c402 C 1259.78%2c392 1274.38%2c209.6 1303.5775365365473%2c192 C 1332.78%2c174.4 1347.38%2c318.2 1376.5775365365473%2c314 C 1405.78%2c309.8 1420.38%2c154.2 1449.5775365365473%2c171 C 1478.78%2c187.8 1523.29%2c388.2 1522.5775365365473%2c398 C 1521.86%2c407.8 1461.32%2c255.6 1446%2c220' stroke='rgba(90%2c 24%2c 154%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1201'%3e%3crect width='1446' height='570' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");    background-size: cover;

}

.contenedor-inicio {
    height: 40rem;
    /*  background-color: rgba(0, 0, 0, 0.15);
     backdrop-filter: blur(2px); */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    color: var(--negro);
}
.img-inicio {
    background-color: var(--blanco); 
    /* border-radius: 50% 50% 50% 50% / 70% 70% 30% 30%; Ajusta estos valores para cambiar la inclinación */
    height: 20rem;
    padding: 5px;
    border: solid 3px var(--primario);
    border-radius: 50%;
}


.mi-nombre {
    border-right: 3px solid var(--negro);
    animation: teclear 3s steps(16), efecto .5s step-end infinite alternate;
}

.btn-cv a {
    text-decoration: none;
    color: var(--primario);
    transition: all .7s;
}

.btn-cv a:hover {
    color: var(--blanco);
}

.btn-cv {
    color: var(--primario);
    background-color: var(--blanco);
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--primario);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
}

.btn-cv:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--primario);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.btn-cv:hover {
    color: var(--blanco);
}

.btn-cv:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.btn-cv:hover:before {
    top: -30px;
    left: -30px;
}

.btn-cv:active:before {
    background: var(--primario);
    transition: background 0s;
}

.no-hover:hover {
    pointer-events: none;
    color: var(--primario);
    border-color: var(--primario);

}

/* --------------------------------------- Sobre mi ---------------------------------------- */
#sobreMi {
    height: 35rem;
    width: 100%;
    background-color: var(--blanco);
    padding: 2rem;

}

.contenedor-sobre-mi {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 300;
    height: 25rem;
    width: 100%;
    max-width: 1200px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
}

.contenedor-sobre-mi.animate {
    opacity: 1;
    transform: translateY(0);
}


.title-sm {
    font-size: 2rem;
}

.sobre-mi-span {
    color: var(--primario);
    font-size: 5rem;
}

hr {
    width: 100%;
    border: solid 1px var(--primario);
}

.img-sm {
    width: 100%;
    max-width: 800px;
    height: 30rem;
    filter: drop-shadow(2px 2px 5px #000000);
    animation: flotando 1200ms ease-in-out infinite;
}


/* ---------------------------------------- Aside ---------------------------------------- */
.aside {
    height: 16rem;
    text-align: center;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.45);
    border-radius: 5px;

margin: 4rem;
background-color: var(--blanco);

    /* background-color: var(--primario); */
    /* background: url(../img/coding-924920_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */

}

.aside-bg {
    height: 100%;
    background-color: var(--blanco);
    border-radius: 5px;

    /* background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(2px);
    opacity: 0;
    transition: opacity 1s; */

}

.tecnologias-conozco {
    height: 10rem;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 180px), 7fr));
    align-items: center;
    justify-content: center;

}

.aside-bg.animate {
    opacity: 1;
}

.titulo-aside {
    font-size: 1.5rem;
    font-style: italic;
    text-transform: uppercase;
    color: var(--negro);
    margin-bottom: 2rem;
}

.tecnologias-aside {
    display: flex;
    flex-direction: column;
    color: var(--negro);
    gap: .5rem;
    text-align: center;
    font-style: italic;
    margin-bottom: 2rem;
}


/* ---------------------------------------- Portafolio ---------------------------------------- */

#portafolio {
    height: 30rem;
    width: 100%;
    background-color: var(--blanco);

}

.contenedor-portafolio.animate {
    opacity: 1;
}

.contenedor-portafolio {
    height: 30rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 3fr));
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s;
}

.titulo-proyectos {
    color: var(--negro);
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 1s;
}

.titulo-proyectos.animate {
    opacity: 1;
}
.hr-proyecto {
    margin: 1rem auto;
    width: 30%;
    border: solid 1px var(--primario);
}
.card {
    width: 22rem;
    max-width: 400px;
    height: 12rem;
    perspective: 1000px;
    margin-bottom: 1.5rem;

}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.45);
}

.img-cards {
    width: 22rem;
    max-width: 400px;
    height: 12rem;
    border-radius: 5px;
}

.card-front {
    background-color: transparent;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(0deg);
}

.card-back {
    background-color: var(--blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    padding: 1rem;
    transform: rotateY(180deg);
}


.titulo-cards {
    color: var(--negro);
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
}

.texto-cards {
    color: var(--negro);
    font-size: 1rem;
    text-align: center;
}

.lista-tecnologias {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    list-style: none;
}

.tecnologias-html {
    color: orangered;
}

.tecnologias-css {
    color: deepskyblue;
}

.tecnologias-js {
    color: yellow;
}

.tecnologias-boostrap {
    color: #7b2cbf;
}

.direccion-proyecto {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--body);
    border: 1px solid var(--primario);
    padding: 4px;
    border-radius: 5px;
}

.direccion-proyecto:hover {
    color: var(--blanco);
    background-color: var(--body);
    transition: all .5s ease-in-out;
}

/* --------------------------------------- Sección Back end --------------------------------------- */

#Back-end {
    height: 25rem;
    width: 100%;
    background-color: var(--blanco);
}

.contendor-Back-end {
    height: 20rem;
    width: 80%;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 1s;
}

.contendor-Back-end.animate {
    opacity: 1;
}

.contenedor-video {
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.4rem auto;
}

.titulo-back {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--negro);
    opacity: 0;
    transition: opacity 1s;
}

.titulo-back.animate {
    opacity: 1;
}

.texto-videos {
    font-size: 1.5rem;
    text-align: center;
    color: var(--negro);
}

.link-repo {
    text-decoration: none;
    color: var(--negro);
    border: 1px solid var(--negro);
    padding: 5px;
    border-radius: 2px;
}

.link-repo:hover {
    background-color: var(--primario);
    color: var(--blanco);
    border: 1px solid var(--blanco);
}


/* ---------------------------------------- Contacto ----------------------------------------- */
#contacto {
    height: 25rem;
    width: 100%;
    background-color: var(--blanco);
}

.contacto-contenedor {
    color: var(--negro);
    height: 25rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 3fr));
    gap: 2rem;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;


}

.titulo-foot {
    padding: 3px;
    border-radius: 2px;
    animation: efectoFoot .7s step-end infinite alternate;
}

.contacto-contacto {
    height: 25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 1s;

}

.contacto-contacto.animate {
    opacity: 1;
}

.redes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-redes {
    display: flex;
    gap: 1rem;
    font-size: 2rem;
}

.redes a,
.contactame a,
.nav-list-foot a {
    text-decoration: none;
    color: var(--negro);
    font-weight: 400;
}
.redes a:hover {
    color: var(--primario);
}
.contactame {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.mensaje-de-copiado {
    font-size: 1rem;
    background-color: var(--primario);
    color: var(--blanco);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    position: absolute;
    left: 8%;
}

.icon-contacto {
    font-size: 1.5rem;
    padding: 0 .5rem;
}

/* ---------------------------------------- Navegación footer ----------------------------------------- */

.navegacio-footer {
    display: flex;
    flex-direction: column;
    justify-content: start;

}

.nav-list-foot {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: .5rem;
}

.nav-list-foot li {
    list-style: none;
}

.titulos-footer {
    font-weight: 700;
}

.hr-foot-ar {
    height: 5rem;
    width: 80%;
    color: var(--negro);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px var(--negro);
}

.hr-foot-ab {
    height: 5rem;
    width: 80%;
    color: var(--negro);
    font-size: .9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px var(--negro);
}