:root {
    --primario: #5a189a;
    --violetaClaro: #7b2cbf;
    --violetaMasClaro: #c880ff;
    --body: #10002b;
    --negro: #000000;

}

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: var(--body);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--primario);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    position: fixed;
    right: 25%;
    left: 25%;
    width: 50%;
    border-radius: 5rem;
    height: 3rem;
    margin-top: .5em;
    animation: flotando 1500ms ease-in-out infinite;
}

.nav-list {
    font-size: 1.5vw;
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #ececec;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none;
}

#overlay.visible {
    display: block;
}

@keyframes flotando {

    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(.2vh);
    }

    100% {
        transform: translateX(0vh);
    }
}

@media screen and (max-width: 860px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
        z-index: 3;
    }

    .abrir-menu {
        color: #ececec;
    }

    .cerrar-menu {
        color: #ececec;
        position: absolute;
    }

    header {
        position: fixed;
        left: 0;
        width: 4rem;
        margin: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        z-index: 2;
    }

    .nav {
        width: 100%;
        height: 50vh;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 4rem;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: var(--primario);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        transition: opacity 0.5s ease-in;
        z-index: 4;

    }

    .nav.visible {
        position: fixed;
        opacity: 1;
        visibility: visible;
        width: 15rem;
        font-size: 1.8rem;
        border-radius: 5rem 0 5rem 0;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
    }

    .nav-list li a {
        color: #ecececec;
        font-weight: 100;
        font-size: 1.5rem;
    }
}


/*------ Inicio ------*/
#inicio {
    height: 40rem;
    background: url(../img/coding-924920_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: .5rem 1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(200, 128, 255, 0.726);

}

.contenedor-inicio {
    height: 40rem;
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    color: white;
}

.img-inicio {
    background-color: var(--primario);
    border-radius: 5%;
    height: 20rem;


}

.btn-cv {
    color: var(--primario);
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--primario);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--primario);
    cursor: pointer;
}

.btn-cv:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--primario);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.btn-cv:hover {
    color: #fff;
}

.btn-cv:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.btn-cv:hover:before {
    top: -30px;
    left: -30px;
}

.btn-cv:active:before {
    background: var(--primario);
    transition: background 0s;
}

.no-hover:hover {
    pointer-events: none;
    color: var(--primario);
    border-color: var(--primario);

}